.selection-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.developer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 5px;
    margin-left: 50px;
}