.cart-container{
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.cart-info{
    margin-right: 5px;
    margin-bottom: 5px;
}
.cart-dev{
    display: flex;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    color: white;
}
.element{
    color: brown;
}
.programmer-icon{
    color: green;
}